.ui-textarea {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 3px;
  vertical-align: middle;
}
.ui-textarea textarea {
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
