.ui-combobox {
  position: relative;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
}
.ui-combobox select {
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
