.ui-text {
  border: none;
  display: inline-block;
  overflow: hidden;
  padding: 3px;
  vertical-align: middle;
  height: 15px;
}
.ui-text span {
  padding: 0px;
  white-space: nowrap;
}

.ui-longtext {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.ui-longtext span {
  padding: 0px;
}
.ui-longtext code {
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #dddddd;
  background-color: #EEFFCC;
}

.ui-document {
  padding: 15px;
  overflow: auto;
}
.ui-document * {
  font-size: 12px;
}
.ui-document div {
  line-height: 170%;
}
.ui-document h2, .ui-document h3 {
  margin: 10px 0;
}
.ui-document p {
  margin: 7px 0;
}
.ui-document ul, .ui-document ol {
  margin-left: 25px;
}
.ui-document ul li, .ui-document ol li {
  margin: 5px;
}
.ui-document dl {
  margin-left: 25px;
}
.ui-document dl dt {
  font-size: 18px;
  margin: 8px 0;
}

.ui-document-title {
  font-size: 14px;
  text-align: center;
  height: 20px;
}
.ui-document-title span {
  font-size: 14px;
}

.ui-textfileview {
  overflow-x: hidden;
  overflow-y: scroll;
}
.ui-textfileview .ui-textfileview-container {
  width: 100%;
  overflow: visible;
}
.ui-textfileview .ui-textfileview-rownumbers {
  width: 30px;
  text-align: right;
  vertical-align: top;
  border-width: 0 1px 0 0;
  line-height: 15px;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
}
.ui-textfileview .ui-textfileview-content {
  vertical-align: top;
  border-width: 0 0 0 1px;
  line-height: 15px;
  padding: 5px 0;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  left: 31px;
  top: 0;
  right: 0;
  min-height: 100%;
}
.ui-textfileview .ui-textfileview-content code {
  display: block;
  white-space: nowrap;
  padding-left: 10px;
}
.ui-textfileview .ui-textfileview-content code span {
  font-family: Consolas,Courier,monospace;
  font-size: 12px;
}
