$iconSize: 16px;

.ui-edit {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 3px;
    vertical-align: middle;
    input {
        border: none;
        background: none;
        color: inherit;
        padding: 0px;
        width: 100%;
        vertical-align: middle;
    }    
}

.ui-iconedit {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 3px;
    vertical-align: middle;
    input {
        border: none;
        background: none;
        color: inherit;
        padding: 0px;
        margin: 0px;
        vertical-align: middle;
    }
}

.ui-iconedit-right input {
    margin-right: $iconSize+3px+2px !important;
}

.ui-iconedit-left input {
    margin-left: $iconSize+3px+2px !important;
}

.ui-iconedit-button {
    width: $iconSize;
    height: 100%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    top: 0;
}

.ui-iconedit-left-button {
    left: 0;
}

.ui-iconedit-right-button {
    right: 0;
}

/* more specificity required here to overide default borders */

.ui-iconedit {
    a.ui-iconedit-button {
        border-top: none;
        border-bottom: none;
    }
    
    a.ui-iconedit-left-button {
        border-left: none;
    }
    
    a.ui-iconedit-right-button {
        border-right: none;
    }    
    
    /* vertical centre icon */
    .ui-icon {
        position: absolute;
        margin-top: -$iconSize/2;
        top: 50%;
        left: 0;
    }
}