.ui-map   {  
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 3px;
    vertical-align: middle;
    .ui-map-header {
        border-width: 0 0 1px 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2.3em;
        input {
            display: block;
            position: absolute;
            left: 1px;
            top: 1px;
            right: 1px;
            bottom: 1px;
        }
        .ui-map-title {
            float: left;
            margin: .1em 0;
            padding: 0.4em 1em;
            white-space: nowrap;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: normal;
            text-transform: uppercase;
        }
        .ui-map-button {
            height: 20px;
            margin: -10px 0 0;
            padding: 1px;
            position: absolute;
            right: 0.3em;
            top: 50%;
            width: 21px;
        }
    }
    
    .ui-map-canvas {
        border: none;
        background: none;
        color: inherit;
        padding: 0;
        vertical-align: middle;
        position: absolute;
        left: 0;
        top: 2.4em;
        right: 0;
        bottom: 0;
    }
}