$headerHeight: 27px;
$pageTitleHeight: 30px;
* {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

h2 {
    font-size: 14px;
}

.ui-accordion-header {
    margin-top: 0 !important;
}

.ui-tabs {
    position: absolute !important;
    padding: 0 !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .ui-tabs-panel {
        position: absolute;
        height: auto !important;
        left: 0;
        right: 0;
        top: 33px;
        bottom: 0;
    }
}

tr.row-red {
    td {
        color: red;
    }
}

.row-grey, .row-grey td, .row-grey a {
    color: grey;
}

.row-italic, .row-italic td, .row-italic a {
    font-style: italic;
}

.row-bold, .row-bold td, .row-bold a {
    font-weight: bold;
}

.ui-title {
    background-color: #333;
    color: #ddd;
}

.ui-layout {
    min-width: 800px;
    min-height: 500px;
}

tt {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px;
}

dt {
    color: #6AC00E;
}
