$headerHeight: 27px;
$pageTitleHeight: 30px;
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

tr.row-red {
    td {
        color: red;
    }
}

.row-grey, .row-grey td, .row-grey a {
    color: grey;
}

.row-italic, .row-italic td, .row-italic a {
    font-style: italic;
}

.row-bold, .row-bold td, .row-bold a {
    font-weight: bold;
}

.ui-title {
    background-color: #333;
    color: #ddd;
}

.ui-layout {
    min-width: 800px;
    min-height: 500px;
}

tt {
    background-color: #F8F8F8;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px;
}

dt {
    color: #6AC00E;
}

.info-container {
    padding-top: 10px;
}
.info-block {
    display: inline-block;
    width: 280px;
    height: 80px;
    a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        div {
            padding: 5px;
            img {
                float: left;
            }
            div {
                width: 180px;
                float: left;
                display: inline-block;
                line-height: 110%;
                h3 {
                    margin: 2px 0px;
                }
                span {
                }
            }
        }
    }
}

.ui-widget-header {
    font-weight: normal;
}

.ui-dialog-title, .ui-document-title, .ui-box-title {
    text-transform: uppercase;    
}

#nav {
    .ui-widget-content {
        background-color: #333333;
    }
    .ui-menu {
        border: none;
        z-index: 99;
        .ui-menu-item {
            min-width: 200px;
            a {
                font-size: 12px;
                color: #aeb2b7;
                padding: 0.5em 0 0.5em 2.5em;
                span.ui-icon {
                    background-image: url("../../library/jquery-ui-1.10.2/themes/base/images/ui-icons_888888_256x240.png");
                }
                span.ui-menu-icon-left {
                    left: 0.5em;
                    top: 0.5em;
                }
            }
        }
        a.ui-state-active, a.ui-state-focus {
            background-color: #28282e !important;
            border-color: #28282e !important;
            color: #ffffff !important;
            span.ui-icon {
                background-image: url("../../library/jquery-ui-1.10.2/themes/base/images/ui-icons_ffffff_256x240.png") !important;
            }
        }
        li.active > a {
            color: #29ABE2 !important;
            span.ui-icon {
                background-image: url("../../library/jquery-ui-1.10.2/themes/base/images/ui-icons_29abe2_256x240.png") !important;
            }
        }        
    }
    
}

code, pre {
    font-family: inherit;
    font-weight: normal;
}
