.ui-listbox {
  position: relative;
  overflow: auto;
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
}
.ui-listbox ul {
  list-style-type: none;
}
.ui-listbox ul li {
  cursor: pointer;
  padding: 3px;
  margin: 0px;
  border: 1px solid transparent;
}
.ui-listbox ul li a {
  display: block;
  text-decoration: none;
}
